.behaviorInput{
    width: 90%;
    margin: 0 auto;
    padding: .7em;

}
.behaviorName{
    color: #777;

}
.behaviorDesc{
    width: 100%;

}
textarea{
    resize: none
}
.settingsButton{
    background-color: #3A3042;
    border: none;
    padding: .5em;
    border-radius: .2em;
}