.sendView{
    display: flex;
    background-color: #3A3042;
    justify-content: space-around;
    padding: .5em;
}
.doughnutContainer{
    display: flex;
    width: 100%
}
.dailyBarcode{
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%
}
.barcodeOnTask, .barcodeTarget, .barcodeReplacement, .barcodeNoEntry{
    color: transparent;
    background-color: #E2EF70;
    width: calc(100% / 76);
    border-left: 1px solid white;
    
}
.barcodeTarget{
    background-color: #E76B74
    
}
.barcodeReplacement{
    background-color: #C3DD3E

}
.barcodeNoEntry{
    background-color: #EEE;
}